<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Guide</title>
</head>
<body>
    <p>All the configurable parameters in the different pages of the user interface will be described in their corresponding section</p>
    <h1>DICOM-STL Software User Guide</h1>
    <h2>Global Elements</h2>
    <p>The button of this page are explicit enough and doesn't need another explaination</p>
    <h2>Page : Reconstruction from DICOM RT Struct</h2>
    <ul>
        <li>Type of the encoded STL: Allows you to choose whether the resulting files will be ASCII STL or Binary STL files.</li>
        <li>Smoothing on the output: Allows you to choose what kind of smoothing to apply to the models. Options include preprocessing, postprocessing, both, or none.</li>
        <li>Generated output:        Allows you to choose whether the code generates an STL file, a DICOM STL Encapsulated file, or both.</li>
        <li>Size of the bitmap:      Allows you to choose the size of the bitmap. If the entered value is not a number or is not in the range [100, 512], the value is set to the default value of 200.</li>
    </ul>
    <h2>Page : Manipulation of DICOM STL Encapsulated</h2>
    <p>The button of this page are explicit enough and doesn't need another explaination</p>
    <h2>Page : Reconstruction from NIfTI files</h2>
    <ul>
        <li>Type of the encoded STL: Allows you to choose whether the resulting files will be ASCII STL or Binary STL files.</li>
        <li>Smoothing on the output: Allows you to choose what kind of smoothing to apply to the models. Options include preprocessing, postprocessing, both, or none.</li>
        <li>Generated output:        Allows you to choose whether the code generates an STL file, a DICOM STL Encapsulated file, or both.</li>
    </ul>
    <h2>Page : Use of Total Segmentator</h2>
    <ul>
        <li>Type of the encoded STL: Allows you to choose whether the resulting files will be ASCII STL or Binary STL files.</li>
        <li>Smoothing on the output: Allows you to choose what kind of smoothing to apply to the models. Options include preprocessing, postprocessing, both, or none.</li>
        <li>Generated output:        Allows you to choose whether the code generates an STL file, a DICOM STL Encapsulated file, or both.</li>
        <li>Type of the task:        Allows you to choose the task to submit to TotalSegmentator</li>
        <li>Fast Segmentation:       Allows you to choose if the segmentation have to be fast or not. This is work only for the task "body" and "total"</li>
    </ul>
</body>
</html>